$color-primary: #ced8eb;
$color-primary-light: #e4e5ed;
$color-primary-dark: #818185;

$color-secondary-light: #1900cf;
$color-secondary-dark: #000680;

$color-tertiary-light: #cf6000;
$color-tertiary-dark: #8a4000;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
